body {
    background: powderblue;
}

p {
    color: red;
}

.my-button {
    background-color: #ccc;
    border: 1px solid orange;
    color: blue;
}

.button-bonsoir {
    background-color: green;
}

.titre1 {
    text-align: center;
    background-color: antiquewhite;
}

.button-google {
    background-color: cadetblue;
    border: 1px solid antiquewhite;
}